<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ if .post}}
    <!-- Meta -->
    <title>{{.post.Title}}</title>
    <meta name="description" content="{{.post.Desc}}" />
    <meta name="keywords" content="{{.post.Tags | tagsAsString}}" />
    <meta name="author" content="{{.author}}" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{.post.Title}}" />
    <meta property="og:description" content="{{.post.Desc}}" />

    <!-- Add these two later -->
    <meta property="og:image" content="URL to an image for sharing" />
    <meta property="og:url" content="" />

    {{else}}
    <title>404 Blog Not Found</title>
    {{ end }}

    <!-- Github Markdown CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css"
    />

    <!-- Highlight.js CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>

    <!-- My styles -->
    <link rel="stylesheet" href="/public/stylesheets/blog.css" />
    <link rel="stylesheet" href="/public/stylesheets/markdown.css" />
  </head>
  <body>
    <!-- Body goes here -->
    <main class="flex flex-col items-center pb-10">
      <section class="w-[90%] sm:w-[80%] lg:w-[80%]">
        {{ if .post }}
        <header class="mt-24 sm:mt-48 flex flex-col items-center">
          <p class="text-md sm:text-lg my-3 sm:my-6 text-center w-fit">
            Written by
            <b>
              <i> {{.author}} </i>
            </b>
          </p>
          <h1 class="text-5xl sm:text-7xl font-bold text-center">
            {{.post.Title}}
          </h1>
          <div class="mt-8 text-sm sm:text-lg text-center">
            <p class="">
              Published on <b>{{.post.CreatedAt | formatAsDate}}</b>
            </p>
          </div>
        </header>
        <div
          class="flex flex-col markdown-body my-[3rem] rounded-[20px] sm:bg-[#f8f8f8] sm:p-[2rem]"
          id="markdown-content"
        >
          {{.post.HTML}}
        </div>
        <p class="w-full flex flex-col items-center justify-center">
          <span>
            🏷️Tags: {{range .post.Tags}}
            <a href="" class="underline">{{.}}&nbsp;</a>
            {{end}}
          </span>
          <span class="mt-4"
            >[<a
              href="/blog?post=1"
              class="hover:italic hover:font-bold text-md"
              >Home</a
            >]</span
          >
        </p>
        {{end}} {{with .error}}
        <div
          class="mt-5 w-full flex flex-col justify-center items-center gap-y-8"
        >
          <h1 class="font-bold text-4xl mt-24 text-center">
            404 Blog Not Found
          </h1>
          <p class="">
            <span class=""
              >[🏠<a
                href="/blog"
                class="hover:italic text-blue-400 hover:text-blue-500"
                >Blog Home</a
              >]</span
            >
          </p>
        </div>
        {{end}}
      </section>
    </main>
    <!-- TAILWIND.CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
