<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- HTMX CDN -->
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <!-- Github Markdown CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css"
    />

    <!-- Highlight.js CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>

    <!-- My styles -->
    <link rel="stylesheet" href="/public/stylesheets/blog.css" />
    <link rel="stylesheet" href="/public/stylesheets/markdown.css" />
  </head>
  <body>
    <!-- Body goes here -->
    <main class="flex flex-col items-center">
      <section class="w-[80%]">
        <header class="mt-48 flex flex-col items-center">
          <p class="text-lg my-6">
            Written by
            <b>
              <i> {{.author}} </i>
            </b>
          </p>
          <h1 class="text-7xl font-bold text-center">{{.post.Title}}</h1>
          <div class="mt-8 text-lg text-center">
            <p class="">
              Published on <b>{{.post.CreatedAt | formatAsDate}}</b>
            </p>
          </div>
        </header>
        <div
          class="flex flex-col py-6 markdown-body mt-[2rem]"
          id="markdown-content"
        >
          {{.post.Content }}
        </div>
        <p class="">
          Based on {{range .post.Tags}}
          <a href="" class="underline">{{.}}&nbsp;</a>
          {{end}}
        </p>
      </section>
    </main>
    <!-- TAILWIND.CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
