<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images</title>
    <!-- My own styles -->
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <!-- Body goes here -->
    <header
      class="mt-[10rem] mb-[3rem] sm:mb-[5rem] flex flex-col items-center"
    >
      <div class="flex flex-col items-center gap-y-4 sm:gap-y-8">
        <!-- <p class="text-md sm:text-lg">¡Hola👋!</p> -->
        <h1 class="font-bold text-5xl sm:text-6xl">Images🖼️.</h1>
        <p class="text-lg sm:text-2xl text-center">
          A place to manage the uploaded images, easily.
        </p>
      </div>
      <!-- Links -->
      <div
        class="flex flex-wrap justify-center items-center gap-y-3 mt-4 text-sm sm:text-lg"
      >
        <!-- <p class="">
          [🖼️<a href="/blog/dashboard/images/export" class="hover:italic hover:text-blue-500 text-blue-400" id="export-blog-link"
            >Upload Image</a
          >]
        </p> -->
        <p class="">
          <span class=""
            >[🏠<a
              href="/blog"
              class="hover:italic text-blue-400 hover:text-blue-500"
              >Blog Home</a
            >]</span
          >
        </p>
        <p class="">
          <span class=""
            >[🎛️<a
              href="/blog/dashboard"
              class="hover:italic text-lg text-blue-400 hover:text-blue-500"
              >Dashboard</a
            >]</span
          >
        </p>
        <p class="">
          [📤<a
            href="/blog/dashboard/images/export"
            class="hover:italic hover:text-blue-500 text-blue-400"
            id="export-blog-link"
            >Export</a
          >]
        </p>
      </div>
      <!-- Search -->
      <form
        class="mt-8 w-full flex flex-col items-center"
        action=""
        method="get"
        id="search-form"
      >
        <input
          type="text"
          class="border-2 p-4 rounded w-[95%] sm:w-[512px] outline-none"
          placeholder="Search for images"
          id="search-box"
          name="search"
        />
        <button
          class="btn text-white px-4 py-2 rounded mt-4 bg-black font-bold"
          id="search-btn"
        >
          Search
        </button>

        {{with .error}}
        <div class="mt-5 font-bold text-red-500">
          <span class="">Error happened: {{.error}}</span>
        </div>
        {{end}}

        <script type="module">
          const searchBox = document.querySelector("#search-box");
          const searchForm = document.querySelector("#search-form");

          searchBox.value =
            new URLSearchParams(window.location.search).get("search") || "";

          searchForm.addEventListener("submit", (e) => {
            e.preventDefault();

            const query = new URLSearchParams(window.location.search);

            query.set("search", searchBox.value);
            query.set("page", 1);

            const url = new URL(window.location.href);
            url.search = query.toString();

            window.location.assign(url.toString());
          });
        </script>
      </form>
    </header>

    <main class="flex flex-col items-center pb-8">
      <section class="w-[90%] sm:w-[80%] 2xl:w-fit">
        <div class="">
          <h1 class="text-2xl sm:text-4xl font-bold text-center sm:text-left">
            Upload An Image
          </h1>
          <!-- Upload image form -->
          <form
            action=""
            method="post"
            class="flex flex-col gap-y-4 mt-5 mb-3"
            id="image-form"
            enctype="multipart/form-data"
          >
            <div class="flex flex-col gap-y-2 justify-center items-center">
              <div id="image-preview" class="" style="max-width: 250px"></div>
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="caption" class="font-bold">Caption</label>
              <input
                id="caption"
                type="text"
                class="border-2 rounded p-3 outline-none"
                name="caption"
                placeholder="Your Image Caption"
                required
              />
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="image-input" class="font-bold">Image To Upload</label>
              <input
                type="file"
                class="border-2 p-3 outline-none w-fit"
                name="image"
                required
                id="image-input"
                accept="image/*"
              />
            </div>
            <div class="flex items-center justify-end gap-x-10 flex-wrap">
              <button
                class="btn py-2 px-6 text-white bg-black font-bold rounded"
                id="upload-btn"
              >
                Upload
              </button>
            </div>
          </form>
          <script type="module">
            const imageUploadForm = document.querySelector("#image-form");
            const imageInput = document.querySelector("#image-input");
            const imagePreviewDiv = document.querySelector("#image-preview");

            imageInput.addEventListener("change", function (event) {
              const input = event.target;

              if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                  imagePreviewDiv.innerHTML = `<img src="${e.target.result}" alt="Image Preview" id="previewImg" />`;
                };

                reader.readAsDataURL(input.files[0]);
              } else {
                imagePreviewDiv.innerHTML = "";
              }
            });

            imageUploadForm.addEventListener("submit", function (e) {
              e.preventDefault();
              if (imageInput.files && imageInput.files[0]) {
                // Perform the image upload logic here
                // You can use FormData to send the file to the server
                // For this example, let's just display an alert
                this.submit();
              } else {
                alert("Please choose an image to upload.");
              }
            });
          </script>
        </div>
        <div class="">
          <h1 class="text-2xl sm:text-4xl font-bold text-center sm:text-left">
            Here Are Your Images
          </h1>
          <div class="flex flex-wrap py-6 gap-y-6">
            {{if gt (len .images) 0}} {{range .images}}
            <div class="">
              <img
                src="/{{.Location}}"
                alt="{{.Caption}}"
                class="h-[280px] w-fit images"
              />
            </div>
            {{end}} {{else}}
            <h1 class="">no image to be shown</h1>
            {{end}}
            <!-- Copy the image's link to clipboard on click -->
          </div>
        </div>
      </section>
      <section class="flex items-center">
        <p class="">
          [<a href="" id="prev-page-link" class="hover:italic hover:font-bold"
            >Prev</a
          >]
        </p>
        <p class="">
          [<a
            href="/blog/dashboard/images?page=1"
            id="prev-page-link"
            class="hover:italic hover:font-bold"
            >Home</a
          >]
        </p>
        <p class="">
          [<a href="" id="next-page-link" class="hover:italic hover:font-bold"
            >Next</a
          >]
        </p>
        <!-- Script to handle pagination -->
        <script type="module">
          const prevPageLink = document.querySelector("#prev-page-link");
          const nextPageLink = document.querySelector("#next-page-link");

          // Get current page number (default=1)
          let pageNo = Number(
            new URLSearchParams(window.location.search).get("page")
          );
          let search =
            new URLSearchParams(window.location.search).get("search") || "";

          if (!Number.isInteger(pageNo) || pageNo < 1) {
            pageNo = 1;
          }

          nextPageLink.href = `/blog/dashboard/images?page=${pageNo + 1}${
            search === "" ? "" : `&search=${encodeURIComponent(search)}`
          }`;
          prevPageLink.href = `javascript: void(0);`;
          if (pageNo > 1) {
            prevPageLink.href = `/blog/dashboard/images?page=${pageNo - 1}${
              search === "" ? "" : `&search=${encodeURIComponent(search)}`
            }`;
          }
        </script>
      </section>
    </main>
  </body>
</html>
