<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- HTMX CDN -->
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- My own styles -->
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
  </head>
  <body>
    <!-- Body goes here -->
    <header class="mt-[10rem] mb-[5rem] flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-8">
        <p class="">¡Hola👋!</p>
        <h1 class="font-bold text-6xl">I'm Rajab.</h1>
        <p class="text-2xl">I love Math, Programming and Poetry!</p>
      </div>
      <!-- Links -->
      <div class="flex mt-4">
        <p class="">
          [<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Portfolio</a
          >]
        </p>
        <p class="">
          [<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Github</a
          >]
        </p>
        <p class="">
          [<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Resume</a
          >]
        </p>
      </div>
    </header>

    <main class="flex flex-col items-center">
      <section class="w-[80%]">
        <h1 class="text-4xl font-bold">Here are my blogs</h1>
        <div class="flex flex-col py-6">
          {{range .posts}}
          <div class="p-3">
            <a
              href="{{ .Slug }}"
              class="hover:underline hover:italic hover:font-bold"
            >
              <h1 class="text-3xl">{{ .Title }}</h1>
            </a>
            <p class="">{{ .Desc }}</p>
            <p class="">
              <b>tags</b>: {{ range .Tags }}
              <a href="/blog?tag={{.}}" class="text-blue-500">{{ . }}</a>
              {{ end }}
            </p>
          </div>
          {{ end }}
        </div>
      </section>
    </main>
    <!-- TAILWIND.CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
