<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- My own styles -->
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
  </head>
  <body class="">
    <!-- Body goes here -->
    <header class="mt-[10rem] mb-[5rem] flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-4 sm:gap-y-8">
        <p class="text-md sm:text-lg">¡Hola👋!</p>
        <h1 class="font-bold text-5xl sm:text-6xl">I'm Rajab.</h1>
        <p class="text-lg sm:text-2xl text-center">
          I love Math, Programming and Poetry!
        </p>
      </div>
      <!-- Links -->
      <div class="flex mt-4 text-sm sm:text-lg">
        <p class="">
          [🌐<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Portfolio</a
          >]
        </p>
        <p class="">
          [🔮<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Github</a
          >]
        </p>
        <p class="">
          [📄<a href="" class="hover:italic hover:text-blue-500 text-blue-400"
            >Resume</a
          >]
        </p>
      </div>
      <div class="mt-8 w-full flex flex-col items-center">
        <input
          type="text"
          class="border-2 p-4 rounded w-[95%] sm:w-[512px]"
          placeholder="Search for blogs"
          id="search-box"
        />
        <button
          class="btn bg-blue-500 text-white px-4 py-2 rounded mt-4"
          id="search-btn"
        >
          Search
        </button>

        <script type="module">
          const searchBox = document.querySelector("#search-box");
          const searchBtn = document.querySelector("#search-btn");

          searchBox.value =
            new URLSearchParams(window.location.search).get("search") || "";

          searchBtn.addEventListener("click", () => {
            // if (searchBox.value == "") return;
            window.location.assign(
              `/blog?search=${encodeURIComponent(searchBox.value)}`
            );
          });
        </script>
      </div>
    </header>

    <main class="flex flex-col items-center pb-8">
      <section class="w-[90%] sm:w-[80%] xl:w-fit">
        <h1 class="text-2xl sm:text-4xl font-bold">Here are my blogs</h1>
        <div class="flex flex-col py-6">
          {{if gt (len .posts) 0}} {{range .posts}}
          <div class="p-3 flex flex-col gap-y-2">
            <a
              href="/blog/{{ .Slug }}"
              class="hover:underline italic hover:font-bold"
            >
              <h1 class="text-xl sm:text-3xl">{{ .Title }}</h1>
            </a>
            <p class="text-sm sm:text-lg">{{ .Desc }}</p>
            <p class="text-sm">
              <b>tags</b>: {{ range .Tags }}
              <a href="/blog?tag={{.}}" class="text-blue-500">{{ . }}</a>
              {{ end }}
            </p>
          </div>
          {{ end }} {{else}}
          <div class="text-center my-10">
            <p class="">
              You've astrayed way too far. Go
              <a href="/blog" class="hover:italic font-bold">Home</a>
            </p>
          </div>
          {{end}}
        </div>
      </section>
      <section class="flex items-center">
        <p class="">
          [<a href="" id="prev-page-link" class="hover:italic hover:font-bold"
            >Prev</a
          >]
        </p>
        <p class="">
          [<a
            href="/blog?page=1"
            id="prev-page-link"
            class="hover:italic hover:font-bold"
            >Home</a
          >]
        </p>
        <p class="">
          [<a href="" id="next-page-link" class="hover:italic hover:font-bold"
            >Next</a
          >]
        </p>
        <!-- Script to handle pagination -->
        <script type="module">
          const prevPageLink = document.querySelector("#prev-page-link");
          const nextPageLink = document.querySelector("#next-page-link");

          // Get current page number (default=1)
          let pageNo = Number(
            new URLSearchParams(window.location.search).get("page")
          );
          let search =
            new URLSearchParams(window.location.search).get("search") || "";

          if (!Number.isInteger(pageNo) || pageNo < 1) {
            pageNo = 1;
          }

          nextPageLink.href = `/blog?page=${
            pageNo + 1
          }&search=${encodeURIComponent(search)}`;
          prevPageLink.href = `javascript: void(0);`;
          if (pageNo > 1) {
            prevPageLink.href = `/blog?page=${
              pageNo - 1
            }&search=${encodeURIComponent(search)}`;
          }
        </script>
      </section>
    </main>

    <!-- TAILWIND.CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              bg: "#FFE5E5",
            },
          },
        },
      };
    </script>
  </body>
</html>
